/*
Green Mountain: #3d7c47

Blue Mountain: #09868b

Light Blue Backdrop: #76c1d4

Barely Gray Edge: #f7f7f7
*/

* {
  margin: 0px;
}

html {
  font-size: 16px;
}

/*NAV BAR */
nav {
  width: 100%;
  background: #76c1d4;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #f7f7f7;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #09868b;
}

/*Cover */

h1 {
  color: black;
}

.cover {
  background: #fff;
}

.cover a {
  text-decoration: none;
  color: black;
}

.cover a:hover {
  text-decoration: underline;
  color: #3d7c47;
}

/*Skills */
h2 {
  color: black;
  font-size: 2.2rem;
}
/*Media Queires*/
/*Nav Bar*/

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    font-size: 1.125rem;
    justify-content: space-around;
    padding: 10px 0;
  }

  /*Currently having a margin issue add in next build 
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    */
}

/*Cover Section */
@media screen and (min-height: 220px) {
  .cover {
    margin: 10px 2% 10px 2%;
  }

  .cover h1 {
    text-align: center;
    font-size: 2rem;
  }
  .cover > p {
    font-size: 1.3 rem;
  }

  .coverPhoto {
    height: auto;
    width: 70%;
    margin: 10px 15%;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 20px 3% 20px 3%;
  }

  .coverSpilt {
    width: 60%;
  }
  .cover h1 {
    font-size: 2.5rem;
    text-align: center;
    width: 60%;
  }
  .cover > p {
    font-size: 1.055 rem;
    width: 60%;
  }

  .cover img {
    width: 40%;
  }

  .coverPhoto {
    height: auto;
    width: 40%;
  }
}

/* Skills Section */
@media screen and (min-height: 220px) {
  .skills h2 {
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .skills h2 {
    margin-top: 20px;
  }
}
